<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content=""/>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="assets/css/common.css" />
    <!-- build:css assets/css/vendor.css -->
    <link rel="stylesheet" href="/node_modules/swiper/swiper-bundle.min.css">
    <!-- endbuild -->
  </head>
  <body>
    @@include('./template/header.html', {
      "isindex": true,
      "link": "index.html"
    })
    
    <div class="page-container">
    </div>
    
    
    <!-- build:js assets/js/vendor.js -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/swiper/swiper-bundle.min.js"></script>
    <script src="assets/js/plugins/wow.min.js"></script>
    <script src="assets/js/plugins/jquery.magnific-popup.js"></script>
    <!-- endbuild -->
    <script src="assets/js/common.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>
